{{#> layout currentPage="Login"}}
    <!-- LOGIN -->
    <form id="login-form" action="/login" method="post" class="auth-form" >
      <h3 class="mb-5 ">Welcome back! Please Login</h3>

      <div class="input-group mb-3">
          <input name="email" id="email" type="email" class="form-control" aria-label="Sizing example input"
          aria-describedby="email"
          placeholder="email" 
          required>
      </div>
      <div class="input-group mb-3">
          <input name="password" id="password" type="password" class="form-control" aria-label="Sizing example input"
          aria-describedby="password"
          placeholder="password" 
         required>
      </div>
{{!-- PESAN ERROR --}}
    {{#if messages.error}}
    <div class="alert alert-danger" role="alert">
  {{messages.error}}
</div>
{{/if}}
{{!-- PESAN SUCCESS --}}
    {{#if messages.success}}
    <div class="alert alert-success" role="alert">
  {{messages.success}}
</div>
{{/if}}

      <div class="text-center mt-4">
          <button type="submit">Login</button>
      </div>
  </form>
  {{/layout}}